{% extends 'base.html' %}

{% block title %}
Delete Blog Post
{% endblock %}


{% block content %}
    
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    <h1>Delete Blog Post</h1><br><br>
    <h3>Delete {{ post.title }}</h3>
    <div class="form-group"></div>
        <form method="POST">
            {% csrf_token %}
        <strong>Are you sure you want to Delete?</strong>
        <br>
            <button class="btn btn-secondary">Delete Post</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </form>
        {% else %}
        
        Not authorized
        {% endif %}

        {% else %}
        Not authorized
        {% endif %}
{% endblock %}